.flexContainer{
  display: flex;
  flex-direction: column;
}

.headerBox{
  color: black;
  background-color: greenyellow;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}
.HeaderFirstBox{
  padding: 15px;
  background-color: white;
  /* flex-grow: 1; */
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content:space-around; 
}
.searchBar-Top{
  margin-top: 5px;
}
/* +++++++++++++++ Header Secon box +++++++++++++ */
.HeaderSecondBox{
  padding: 5px;
   background-color: white;
   width: 300px;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   flex-wrap: wrap;
}
.Coins{
  display: flex;
  justify-content: flex-start;
}


/* ++++++++ */
.MainBox{
  background-color: Red;
  height: 600px;
  display: flex;
  flex-direction: Row;
}
.sideBar{
  margin: 2px;
  padding: 5px;
  background-color: aliceblue;
  width:80px;
  display:  flex;
  flex-direction: column;
  justify-content: flex-start;
  /* justify-content: space-around; */
}
.sidebarIcons{
  background-color:#FFFFFF;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content:space-between;
  align-items: center;
}
.SideBar-Box{
   
}

/* ++++++++++++++++++++++++++ */
.secondBar{
  margin: 2px;
  /* padding: 5px; */
  background-color:antiquewhite;
  width:450px;
  height: 900px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
}
.Head_wholeText{
  width:300;
  height: 250px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  background-color: #FFFFFF;
}

.icons-text{
  display: flex;
}
.icons-bar2{
  width:40px;
  height: 40px;
  background-color: blue;
}
.Content-bar2{
  width:200px;
  height: 40px;
  background-color: red;
}
.textDate_container{
  display: flex;
  flex-direction: row;
}
.icons-text{
  display: flex;
  flex-direction: column;
}
.loverHeartPreson_Container{
  display:  flex;
  flex-direction: row;
}
.shortlIstedNudget_container{
  display:  flex;
  flex-direction: row;
}
/* ++++++++++++++++++++++++++++++++++++ */
.MainBar{
  margin: 2px;
  padding: 5px;
  background-color:aqua;
  flex-grow: 3;
}

