/* body, html {
  font-family: 'Montserrat', sans-serif;
} */
.flexContainer{
  display: flex;
  flex-direction: column;
}

.headerBox{
  color: black;
  background-color: #FFF3CC;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}
.HeaderFirstBox{
  padding: 15px;
  background-color: #FFF3CC;
  /* flex-grow: 1; */
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content:space-around; 
}
.searchBar-Top{
  margin-top: 5px;
}
/* +++++++++++++++ Header Secon box +++++++++++++ */
.HeaderSecondBox{
   padding: 5px;
   background-color: #FFF3CC;
   width: 400px;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   /* flex-wrap: wrap; */
}
.Coins{
   display: flex;
   align-items: center;
   justify-content: center;
   column-gap: 1rem;
   border:1px solid black;
   border-radius: 15px;
   padding: 5px;
   height: 20px;
   background-color: #FFFFFF;
}
.humanface_AutoComplete{
   display: flex;
   align-items: center;
   justify-content: center;
   column-gap: 1rem;
   border:1px solid black;
   border-radius: 15px;
   padding: 5px;
   height: 25px;
}
.humanface_AutoComplete select ,.humanface_AutoComplete img{
  display: flex;
  align-items: center;
}
.dropDownSelect{
  border-style: none;
}
/* ++++++++ */
.MainBox{
  background-color: #FFF3CC;
  /* height: 600px; */
  display: flex;
  flex-direction: Row;
  gap: 4px;
  padding-right: 16px;
}
.sideBar{
  margin: 2px;
  padding: 5px;
  background-color: #FFF3CC;
  width:50px;
  display:  flex;
  flex-direction: column;
  justify-content: flex-start;
}
.sidebarIcons{
  background-color:#FFF3CC;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content:space-between;
  align-items: center;
}
.SideBar-Box{
   
}

/* ++++++++++++++++++++++++++ */
.descriptionbar{
  margin: 2px;
  padding: 5px;
  background-color:#FFFFFF;
  width:390px;
  height: 1300px;
  display: flex;
  flex-direction: column;
  align-items: start;
  /* justify-content: space-between; */
  border: 1px solid #1F1F1F;
  flex-wrap: wrap;
  border-radius: 24px;
  padding: 10px;
}
.ThreeBox_Button{
  display: flex;
  height: 800px;
  /* background-color: red; */
  flex-direction: column;
  justify-content: space-around;
}
.descriptionImage img{
  /* display: flex;
  border-radius: 12px;
  justify-content: center; */
  border-radius: 20px;
}
.Head_wholeText{
  width:390px;
  height: 180px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* border: 1px solid #E2E2E2  ;
  border-radius: 12px;
  padding-left: 10px; */
}
.icon_header{
  width:150px;
  display: flex;
  flex-direction: row;
  
}
.lock_ContentText{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* +++++++++++++++++++++++++++++++++++++++++ */
.textDate_container{
  display:  flex;
  flex-direction: row;
  width: 200px;
  /* background-color: red; */
  align-items: center;
}
.Contennt_date{
  width: 150px;
  display:  flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.icons-text{
    /* width: 410px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    background-color:#FFFFFF;
    border: 1px solid #E2E2E2  ;
    border-radius: 12px;
    padding-left: 10px; */
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 300px;
  border: 1px solid #E2E2E2  ;
  border-radius: 12px;
  padding-left: 10px;
  justify-content:center;
}
/* ++++++++++++++++++ */
.viewreportButton{
  width: 410px;
  height: 41px;
  display: flex;
  justify-content: start;
}
/* ++++++++++++++++++++++++++++ */
.loveheartPerson{
  width:370px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-content: space-evenly; */
  background-color: #FFF9E6;
  border: 1px solid #E2E2E2  ;
  border-radius: 12px;
  padding-left: 10px;
}
.loverHeartPreson_Container{
 
  height: 200px; ;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Content_lover{
  width: 150px;
  display:  flex;
  align-items: center;
  /* background-color: red; */
  /* justify-content: space-between; */
  padding: 10px;
}
/* ++++++++++++++++++++++++++ */
.shortListedBudget{
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 200px;
  border: 1px solid #E2E2E2  ;
  border-radius: 12px;
  padding-left: 10px;
  justify-content:center;
 
}
.shortlIstedNudget_container{
  display:  flex;
  flex-direction: row;
  width: 200px;
  /* background-color: red; */
  align-items: center;
 
}
.shotlist{
  width: 150px;
  display:  flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
  

/* ++++++++++++++++++++++++++++++++++++ */
.MainBar{
  margin: 2px;
  padding: 5px;
  background-color:#FFFFFF;
  flex-grow: 3;
  border: 1px solid #1F1F1F;
  border-radius: 24px;
  height: fit-content;
}

.ButtonName_Creatos{
  height: 50px;
  /* border: 1px solid red  ;
  border-radius: 12px; */
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.Creator_div{
   width: 300px;
   height: 35px;
   border-radius: 25px;
   border:1px solid #FFF3CC;
   padding: 3px 5px 3px 3px;
   display: flex;
   background-color:#FFF3CC ;
}
.MediumContent{
   padding: 6px;
}
.Creator_button{
  padding: 3px;
  width:120px;
  border-radius:25px;
  border: 1px solid #FFC700;
  background-color:#FFC700;
}
.searchBar_fillterButton{
  width: 980px;
  height: 70px;
  /* border: 1px solid red  ;
  border-radius: 12px; */
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.search_bar{
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.search_bar input[type = "search"]{
   flex-grow: 1;
   padding: 5px;
   border: 1px solid black;
   height: 40px;
   width:250px;
   border-radius: 12px;
}
.filer_sort_buttons{
  /* border: 1px solid red  ;
  border-radius: 12px; */
  height: 70px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.CloseApp_ListsData{
  width: 980px;
  height: 50px;
  /* border: 1px solid red  ;
  border-radius: 12px; */
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Approved_Buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* border: 1px solid red  ;
  border-radius: 12px; */
  padding-left: 10px;
  width: 500px;
}

.MainBox_ListBox{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  border: 1px solid #E2E2E2  ;
  border-radius: 12px;
  padding: 16px;
  gap: 16px;
}
.AlphaCreator{
  height: 94px;
  width: 200px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #E2E2E2  ;
  border-radius: 8px;
  padding: 10px;
  gap: 10px;
}
.image_content{
  display: flex;
  flex-direction: row;
  align-items: center;

}
.createinfo{
  display: flex;
  flex-direction: column;
}
.faceimageSetting img{
  width: 35px;
  height: 35px;
  border-radius: 25px;;
}
.FacesNames{
  display:  flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 0px;
}
.creatorinsta{
  display:  flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #808080
}
.flexIcons{
  display: flex;
  padding-right:15px ;
}
.flexIcons img{
  border-radius: 23px;
}
.Deleverables_Box{
  display: flex;
  width: 100%;
}
.DeleverablesFlex{
  width: 150px;
  /* border: 1px solid red  ;
  border-radius: 12px; */
  padding-left: 10px;
}
.Deleverables{
  width:150px;
  display: flex;
  flex-direction: column;
  gap: 10px
}

.Deleverables :nth-child(1){
  font-size: 11px;
  font-weight: 600;
  color: #808080;
}

.Deleverables :nth-child(2){
  font-size: 14px;
  font-weight: 400;
  color:#1F1F1F;
}
.Deleverables :nth-child(3){
  font-size: 14px;
  font-weight: 400;
  color:#1F1F1F;
}

.Followers_Pending_flex{
  /* border: 1px solid red  ;
  border-radius: 12px; */
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.creatordetailsinfo{
  width: 100%;
}
.FolowersReach{
  /* border: 1px solid red  ;
  border-radius: 12px; */
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
  justify-content: space-between;
}

.payments{
  display: flex;
  gap: 10px;
  align-items: end;
}
.payments-info :nth-child(1){
  font-size: 11px;
  font-weight: 500;
  color: #808080;
}
.payments-info :nth-child(2){
  font-size: 11px;
  font-weight: 600;
  color: #1F1F1F;
}


.creatorStatus{
  height: 38px;
  padding-left: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;

}
.bidinghistory{
  font-size: 13px;
  font-weight: 600;
  color:#1F1F1F;

  /* padding-left: 30px; */
}
.Payment{
  height:40px;
  width: 570px;
  /* border: 1px solid red  ;
  border-radius: 12px; */
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.FollowersData{
  height:50px;
  width: 70px;
  display: flex;
  flex-direction: column;
  gap: 6px
}
.FollowersData :nth-child(1){
  font-size: 11px;
  font-weight: 600;
  color: #808080;
}

.FollowersData :nth-child(2){
  font-size: 14px;
  font-weight: 600;
  color:#1F1F1F;
}

.mainBoxFlexdDesign{
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color:#FFFFFF;
  border: 1px solid #FFF9E6  ;
  border-radius: 12px;
  padding-left: 10px;

}

